# Setting for ibus
export GTK_IM_MODULE=ibus
export QT_IM_MODULE=ibus
export XMODIFIERS=@im=ibus
export QT4_IM_MODULE=ibus
export CLUTTER_IM_MODULE=ibus

export _JAVA_AWT_WM_NONREPARENTING=1

export HOME=/home/leo
echo $HOME
ibus-daemon -drx

# Set config of i/o devices
xinput set-prop "SYNA2393:00 06CB:7A13 Touchpad" "libinput Tapping Enabled" 1 # enable tapping
xinput set-prop "SYNA2393:00 06CB:7A13 Touchpad" "libinput Natural Scrolling Enabled" 1 # enable natural scroll
xinput set-prop "SYNA2393:00 06CB:7A13 Touchpad" "libinput Accel Speed" 1 # increase accell speed

xinput set-prop "SYNA2393:00 06CB:7A13 Mouse" "libinput Accel Speed" 1
xinput set-prop "MOSART Semi. 2.4G Wireless Mouse" "libinput Accel Speed" 1

birdtray &

# Blue terminal
picom --config /home/leo/.config/picom/picom.conf &

# libinput-gestures
libinput-gestures-setup start

# Setup for gnome-keyring
dbus-update-activation-environment --systemd DISPLAY
eval $(/usr/bin/gnome-keyring-daemon --start --components=pkcs11,secrets,ssh)
export SSH_AUTH_SOCK

sxhkd -c ~/.config/sxhkd/sxhkdrc &
exec bspwm
